<div class="social-buttons">
    <a href="#"> <img src="http://sitesforchurch.s3.amazonaws.com/Facebook.png"/></a>
    <a href="#"> <img src="http://sitesforchurch.s3.amazonaws.com/Twitter.png" /> </a>
    <a href="#"> <img src="http://sitesforchurch.s3.amazonaws.com/instagram.png" /> </a>
  </div><!--/social-buittons-->
  <div class="mobile-navigation">
    
    <div class="menu-bar">
    <a href="#" type="button" class="button" data-toggle="offCanvas" ><img src="http://sitesforchurch.s3.amazonaws.com/menu-toggle.png" /></a>
    </div><!--/menu-bar-->

  </div><!--/mobile-navigation-->
  <div class="navigation">
    <ul class="left menu dropdown" data-dropdown-menu>
      <li><a href="#">Get to Camp</a>
      <ul class="menu">
        <li><a href="#">Upcoming Camps</a></li>
          <li><a href="#">What You Need To Know</a></li>
      </ul>
      </li>
      <li><a href="#">Get Informed</a>
      <ul class="menu">
        <li><a href="#">Recent Updates</a></li>
          <li><a href="#">About Our Camp</a></li>
          <li><a href="#">Our Leadership</a></li>
      </ul>
      </li>
    </ul><!--/left-->
    <ul class="right menu dropdown" data-dropdown-menu>
      <li><a href="#">Get Involved</a>
      <ul class="menu">
        <li><a href="#">Become a Counselor</a></li>
          <li><a href="#">Sponsor a Camper</a></li>
          <li><a href="#">Plan A Missions Trip</a></li>
      </ul>
      </li>
      <li><a href="#">Get In Touch</a>
      </li>
    </ul><!--/right-->
  </div><!--/navigation-->
  <a href="#" class="logo"> <img src="http://sitesforchurch.s3.amazonaws.com/logo-1.png" /> </a>